* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    box-sizing: border-box;
    width: 320px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px 50px;
}


img  {
    width: 300px;
    background-color: white;
    border-radius: 15px;
}

h1 {
    font-size: 22px;
    font-family: 'Outfit', 'Sans-serif';
    text-align: center;
    padding: 10px;
}

p {
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: hsl(216, 15%, 48%);
}